# Highlight color when text is selected using mouse (Beau blue | LaTeX)
text_highlight_color    0.74 0.83 0.9

# Highlight color when text is a search match (Ball blue | LaTeX)
search_highlight_color  0.63 0.79 0.95

#Amethyst
#highlight_color_a	0.94 0.64 1.00

#Colour A (Baby blue eyes | LaTeX)
highlight_color_a	0.63 0.79 0.95

#Blue
#highlight_color_b	0.00 0.46 0.86

#Colour B (Fawn | LaTeX)
highlight_color_b	0.9 0.67 0.44

# ADD COMMANDS
# Create a dual panel version of the current PDF file
new_command _dual_panelify python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"

# Create a new document with the highlights of the current document with pre-inserted portal into the corresponding location in the original document
new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}

# Translate the text and display it in sioyek statusbar
new_command _translate_selected_text python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate "%{sioyek_path}" "%{line_text}"

# Import PDF bookmarks and highlights into sioyek so that they are searchable
new_command _import_annotations python -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

# Remove PDF annotations
new_command _remove_annotations python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"

# Add text annotation to the PDF
new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0


