92559cwindow {
margin: 0px;
border: 1px solid #b808d8;
background-color: #282a36;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #141a1f;
}

#inner-box {
margin: 5px;
border: none;
background-color: #141a1f;
}

#outer-box {
margin: 5px;
border: none;
background-color: #141a1f;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry:selected {
background-color: #b808d8;
}
